

.header_right{
    background: #fff;
    height: 70px;
    line-height: 70px;
    text-align: right;  
    .avatar{
        margin-right: 20px;
        .avatar_icon{
            margin-right: 5px;
        } 
    }
    .poweroff{
        margin-right: 5px;
        margin-left: 20px;
    }
    .quit{
        margin-right: 40px;
    }
}
.nav_path{
    height: 50px;
    padding:15px 20px;
}
