.page-login{
    position: absolute;
    left:0px;
    top:0px;
    width: 100vw;
    height: 100vh;
    .bg{
        background-image: url('/images/login.jpg') !important;
        background-size: 50vw 100vh;
        height: 100vh;
        .title{
            padding-left: 100px;
            padding-top: 150px;
            .h1{
                color: white;
                font-size: 42px;
                max-width: 400px;
            }
            .h2{
                color: #0099CC;
                font-size: 16px;
            }
            .logo{
                position: absolute;
                left: 100px;
                top:20px;
                width: 200px;
               
            }
        }
    }
    .right-part{
        background-color: white;
        height: 100vh;
        .part{
            padding: 20px;
            padding-top: 150px;
            padding-left: 100px;
            .h1{
                color: #666666;
                font-weight: 700;
                margin-bottom: 60px;
                .title{
                    color: #0099cc;
                    margin-left: 8px;
                }
            }
        }
        .form{
            max-width: 400px;
            .h2{
                color: #999999;
                font-size: 18px;
            }
            .border{
                margin-top: 20px;
                border:2px solid rgba(0,153,204,1);
                width:130px;
            }
        }
        .name{
            color: #0099cc;
            margin-top:40px;
        }
        .login-input{
            border: 0;
            border-bottom: 1px solid rgb(209, 221, 230);
            max-width: 320px;
            font-size: 20px;
            color: rgb(16, 65, 108)
        }
        .password{
            color: #0099cc;
            margin-top:30px;
        }
        .sub-btn{
            width: 130px;
            max-width: 320px;
            border-radius: 2px;
            background: rgba(242,246,248,1);
            color: #0099CC;
            height: 40px;
        }
    }
   
}
