.page{
    background:#19274E; 
    .logo{
        padding:15px ;
        display: flex;
        .logo_img{
            max-height: 40px;
        }
    }
    .menu{
        background:#19274E; 
        .item{
            margin:0px;
            height:48px;
            line-height:48px;
            padding-left: 20px !important;
            .nav-text{
                color:#fff;
                font-size:16px;
            }
            
            
        }
        .active{
            margin:0px;
            height:48px;
            line-height:48px;
            padding-left: 20px !important;
            background-color: #1F3261;
            .nav-text{
                color:#fff;
                font-size:16px;
            }
        }
        
    }
}