.details-box{
    ul{
        list-style: none;
        padding:0px;
        margin: 0px;
    }
    .top{
        height: 574px;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        .company{
            width: 30%;
            margin-right: 20px;
            background: #fff;
            padding: 20px;
            justify-content: center;
            align-content: center;
            .logo{
                text-align: center;
                .name{
                    font-size: 20px;
                    color:#3A3B46
                }
            }
            .info{
                padding:0px 10px;
            }
            .list{
                ul{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                        li{
                            width: 50%;
                            text-align: center;
                            padding:15px 0px;
                            max-height:75px;
                            &:first-child,&:nth-child(2){
                                border-bottom: 1px solid rgba(190,202,216,.3);
                              }
                  
                              &:nth-child(odd){
                                border-right: 1px solid rgba(190,202,216,.3);
                              }
                              h4{
                                font-size: 16px;
                                color:#3A3B46;
                                margin:0px;
                              }
                              p{
                                  font-size: 14px;
                                  color:#6B798E;
                              }
                              .red{
                                color:#E62129;
                              }
                              .jump{
                                text-decoration:underline
                              }
                        }
                }
            }
            .down-load{
                margin: 40px auto;
                text-align: center;
                .btn{
                    width: 100%;
                    height: 40px;
                    border:2px solid #2A5082;
                    color:#2A5082;
                    border-radius: 2px;
                    line-height: 38px;
                    font-size: 14px;
                }
            }
        }
        .trends{
            width: 70%;
            overflow: hidden;
            background: #fff;
            padding: 20px;
            .ant-card-head{
                border:none;
                position: relative;
                &:before{
                    content: '';
                    width:5px;
                    height:18px;
                    background: #BECAD8;
                    position: absolute;
                    top:20px;
                    left:13px;
                }
            }
            
            .ant-card-body{
                .ant-tabs{
                    // 规定应该从父元素继承 overflow 属性的值。
                    overflow: inherit;
                    .ant-tabs-bar{
                        position: absolute;
                        top:-70px;
                        right: 0px;
                        border:none;
                    }
                    .ant-tabs-nav-container{
                        height: 32px;font-size: 14px;
                    }
                    .ant-tabs-nav{
                        .ant-tabs-tab{
                            border:1px solid #BECAD8;
                            margin: 0px;
                            padding:0px;
                            height: 30px;
                            line-height: 30px;
                            width: 100px;
                            text-align: center;
                            color: #7D8CA1;
                            border-radius: 0;
                            &:nth-child(even){
                             border-left: 0;
                             border-right: 0;
                           }
                           &:last-child{border-right: 1px solid #e8e8e8;}
                           &:first-child{
                            border-top-left-radius: 3px;  
                            border-bottom-left-radius: 3px;  
                        }
                        &:last-child{
                            border-top-right-radius: 3px;  
                            border-bottom-right-radius: 3px;  
                        }

                        }
                        .ant-tabs-tab-active{
                             background:#2A5082;
                             color:#fff;
                             border-color:#2A5082;
                             font-weight: normal;
                         }
                         .ant-tabs-ink-bar{
                             height:0px;
                         }
                    }
                }
                .tab_box_absolute{
                    position: relative;
                    width: 100%;
                    top:-10px;
                    .ant-tabs{
                        .ant-tabs-tabpane{
                          display:block !important;
                        }
                        .ant-tabs-bar{
                          position: initial !important;
                          border-bottom: 1px solid #BEC8D3 !important;
              
                          .ant-tabs-nav-container{
                            height:40px !important;
                          }
                          .ant-tabs-nav-wrap{
                            border-radius:4px 4px 0px 0px;
                            overflow: hidden;
                            .ant-tabs-nav{
                              .ant-tabs-tab{
                                height: 40px;
                                line-height: 40px;
                              }
                              .ant-tabs-tab-active{
                                background:#fff;
                                color:#3A3B46;
                                border-color: #BECAD8;
                                border-bottom-color: transparent;
                              }
                            }
                          }
                        }
                      }
                }
            }
            
        }
    }
    .content{
        width: 100%;
        height: 1000px;
        background: #fff;
        padding:20px;
        .ant-card-head{
            border:none;
            position: relative;
            &:before{
                content: '';
                width:5px;
                height:18px;
                background: #BECAD8;
                position: absolute;
                top:20px;
                left:13px;
            }
        }
        .ant-card-body{
            padding:0px 20px;
            .profitability-box{
                display: flex;
                height: 240px;
                .left{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    .tu{
                        width: 50%;
                        height: 100%;
                    }
                    .title{
                        width: 50%;
                        margin: 35px 20px 0px 0px;
                        h3{
                            position: relative;
                            margin-bottom: 20px;
                            &:before{
                                content: '';
                                width:18px;
                                height:3px;
                                background: #BECAD8;
                                position: absolute;
                                top:30px;
                                left:0px;
                            } 
                        }
                        .info{
                            line-height: 24px;
                        }
                    }
                }
                .right{
                    width: 50%;   
                    box-shadow: 0px 5px 24px 0px rgba(0, 66, 166, 0.05);
                    .title{
                        margin:0px 20px;
                        border-bottom: 1px solid #BEC8D3;
                        .ant-card-head{
                            padding:0px;
                            &:before{
                               
                                width:0px;
                               
                            } 
                        }
                    }  
                    .list{
                        margin:0px 20px;
                        display: flex;
                        flex-wrap: wrap;
                        .item{
                            width: 50%;
                        }
                    }        
                 }
            }
        }
        
    }
}